:root {
  --azul: #4f6a8f;
  --celeste: #88a2bc;
  --beige: #f0dbb0;
  --naranjo: #efb680;
  --naranjo2: #d99477;
  --ligthGray: #F5F8FA;
  --darkGray: #657786;
  --negro: #14171A;
  --celeste2: #0099ff;
  --celesteTwitter: #00ACEE;
  --fondo: rgb(41, 42, 43);
}